<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gooner10.weatherforecast">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".extras.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".weatherhome.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="weatherapi.samples.androidinstantapps.com"
                    android:pathPattern="/main" />
            </intent-filter>
        </activity>
        <activity
            android:name=".weatherdetail.ForecastDetail"
            android:label="@string/title_activity_forecast_detail"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
